body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

main {
  width: 650px;
  height: 950px;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
main img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#summary-box {
  width: 100%;
  height: 25%;
  padding-top: 2rem;
}
#summary-box h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 35px;
  font-weight: bolder;
}
#summary-box p {
  color: #78818a;
  font-size: 25px;
  text-align: center;
}

#price-plan {
  width: 100%;
  height: 15%;
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-div {
  width: 75%;
  height: 60%;
  display: flex;
  font-family: "Red Hat Display", sans-serif;
}

#div1 {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div2 {
  width: 60%;
  height: 100%;
}
#div2 h2 {
  line-height: 0;
  padding-left: 1rem;
}
#div2 p {
  padding-left: 1rem;
  font-size: 25px;
  color: #78818a;
}

#div3 {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#div3 a {
  font-size: 20px;
  font-weight: bold;
}
#div3 a:hover {
  color: #766cf1;
  text-decoration: none;
}

#btn {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
#btn button {
  width: 80%;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
  background-color: #382ae1;
  border: none;
  outline: none;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}
#btn button:hover {
  background-color: #766cf1;
}

#cancel {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cancel a {
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #6f7690;
  text-decoration: none;
}
#cancel a:hover {
  color: #303956;
}

#back-div {
  background-color: #e0e8ff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
#back-div img {
  width: 100%;
  height: 50%;
}

.attribution {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 300px) and (max-width: 650px) {
  main {
    width: 360px;
    height: 750px;
  }

  #summary-box {
    width: 75%;
    margin: auto;
  }
  #summary-box h1 {
    font-size: 25px;
  }
  #summary-box p {
    font-size: 20px;
  }

  #div2 h2 {
    font-size: 18px;
  }
  #div2 p {
    font-size: 20px;
  }

  #div3 a {
    font-size: 18px;
  }

  #price-plan {
    margin-top: 2rem;
  }

  #btn button {
    font-size: 20px;
  }

  #cancel a {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */